.banner {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(#ffffff17, #ffffff63), url("../images/Friendster banner bg.png");
  background-size: 80%, 80%;
  background-repeat: no-repeat;
  background-position: center;
}


.banner-content {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bolder;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 50px;
    width: 300px;
  }
}

.custom-purple-outline-btn {
  border-color: #7F5FFC;
  border-radius: 30px;
  transition: ease-in-out all .5s;

  &:hover {
    background-color: #7F5FFC;
    color: #ffffff;
  }

  &.active {
    background-color: #7F5FFC;
    color: #ffffff;
  }
}

@media only screen and (min-width: 1450px) {

  .banner {
    background-size: 60%, 60%;
  }
}

@media only screen and (max-width: 1100px) {

  .banner {
    background-size: 100%, 100%;
  }
}

@media only screen and (max-width: 900px) {

  .banner {
    background-size: 110%, 110%;
  }
}

@media only screen and (max-width: 768px) {

  .banner {
    flex-direction: column;
    background-image: linear-gradient(#ffffff17, #ffffff63), url("../images/Friendster banner_mobile.png");
    background-size: 65%, 65%;
  }

  .banner-content {
    input {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 600px) {

  .banner {
    background-size: 90%, 90%;
  }

  .banner-content {
    input {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 400px) {

  .banner {
    background-size: 110%, 110%;
  }

}
