%event-details-banner {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-size: 100% 100%;
  filter: brightness(70%);
}

.fa-envelope:hover {
  color: rgb(15, 15, 15);
  transition: 150ms;
}

.lady-gaga {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/lady_gaga.png');
}

.arctic-monkeys {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/arctic_monkeys.jpg');
}

.imag-dragons {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/imagine_dragons.jpg');
}

.foo-fight {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/foo_fighters.jpg');
}

.black-keys {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/the_black_keys.jpg');
}

.twtyone {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/Twenty-One-Pilots.png');
}

.muse {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/muse.jpg');
}

.radiohead {
  @extend %event-details-banner;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0)), url('../images/radiohead.jpg');
}

.btn-circle {
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.pale-purple-link {
  color: #c006f8;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  &:hover{
    color: #d186f4;

  }
}

.pale-purple-link svg {
  margin-right: 5px;
}

.share-btn{
  color: #ffffff;
  border-color: #30435266;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
  background: #5D2FD7;
  &:hover{
    color: #ffffff;
    background:  #402196;
    border-color: #30435266;
  }
}

.love-btn{
  color:#ffffff;
  background: #ff00a2;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
        border-color: #30435265;

        &:hover{
          color: #ffffff;
          background:  #c5007d;
          border-color: #30435265;
        }
}

.calendar-btn{
  color:#ffffff;
  background: #FF5733;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	      -6px -6px 10px -1px rgba(255,255,255,0.7);
        border-color: #30435265;

        &:hover{
          color: #ffffff;
          background: #c24327;
          border-color: #30435265;
        }
}


@media only screen and (min-width: 1200px) {
  %event-details-banner {
    background-size: 100% 130%;
    background-position: center;
  }
}

@media only screen and (max-width: 768px) {
  %event-details-banner {
    height: 50vh;
  }
}
