.event-card {
  border-radius: 20px;
  background: #FECDF3;
  transition: transform 0.2s;
  background-image: url('../event-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(1.05);
  }
}

.noevent-card {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.noevent-content {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 40px;
    margin: 20px;
  }

  .pale-purple-btn {
    text-decoration: none;
    padding: 10px;
    color:#9176fe;
    border: 1px solid;
    border-color: #7F5FFC;
    background-color: #eae5ff;
    border-radius: 30px;
    transition: ease-in-out all .5s;

    &:hover {
      background-color: #8c6fff;
      color: #ffffff;
    }

    &.active {
      background-color: #8c6fff;
      color: #ffffff;
    }
  }
}
