.footer {
  background-color: #7F5FFC;
  background-image: linear-gradient(to bottom, #7F5FFC, #7e5ffcbd), url(../images/crowd.png);
  background-size: cover;
  background-position: 0% 50%;
  font-size: 20px;
  padding: 40px 0;
  text-align: center;
  color: black;

  a {
    text-decoration: none;
    color: #e9d7f0ec;
    text-shadow: 0px 0px 10px #00000083;

    &:hover {
      color: #bfb9b9;
    }
  }

  .pale-purple-btn {
    background-color: #472e7b9a;
    font-weight: 400;
    color: #dcc8ff;
    text-shadow: 0px 0px 0px #00000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.199);
    border: 1px solid #bfa5eb;
    &:hover {
      background-color: rgba(133, 92, 132, 0.309);
      color: #dcc8ff;
    }

    &.active {
      background-color: rgba(133, 92, 132, 0.309);
      color: #dcc8ff;
    }
  }

  &-widget {
    h3 {
      margin-bottom: 20px;
    }
  }

  &-social {
    ul {
      padding-left: 0;
      margin-bottom: 30px;

      li {
        list-style: none;
        display: inline;
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }
      }

      a {
        font-size: 30px;
      }
    }
  }
}

hr.rounded {
  border-top: 0px solid #e395ff00;
}

.vertical-ln {
  border-right: 5px solid #e395ff4e;
  border-left: 5px solid #e395ff4e;
}

.vertical-ln-rgt {
  border-right: 5px solid #e395ff4e;
}

.material-symbols-outlined {
  font-size: 30px;
}

.nomar {
  margin: 0px;
}

.padding-botm {
  padding-bottom: 20px;
}

.sm-mar-tp {
  margin-top: 50px;
}

.contact-link {
  display: inline-block;
  width: 100%;
}

.media-object {
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.461);
}

.media-body {
  font-size: 16px;
  margin-bottom: 20px;
  text-shadow: 0px 0px 10px #00000083;
  a {
    font-weight: 600;
  }

  p {
    margin: 0;
  }

  span {
    color: #a9a7aa;;
  }
}

  .images-gallery {
    ul {
      padding-left: 0;

      li {
        list-style: none;
        float: left;
        margin: 0 3% 2% 0;
        width: 31%;
        position: relative;

        &:nth-child(3n) {
          margin: 0 0 1%;
        }
      }
    }
  }

@media only screen and (max-width: 575px) {
  .vertical-ln {
    border-right: 0px solid #e395ff00;
    border-left: 5px solid #e395ff00;
  }

  .vertical-ln-rgt {
    border-right: 0px solid #e395ff00;
  }

  hr.rounded {
    border-top: 8px solid #e395ffe8;
    border-radius: 5px;
  }

  .marbtm40 {
    margin-bottom: 40px;
  }

  .footer {
    background-size: 300% 100%;

    &-social {
      ul {
        padding-left: 0;
        margin-bottom: 60px;
      }
    }
  }
}
