.footer {
  background-color: #7F5FFC;
  font-size: 16px;
  padding: 80px 0;
  text-align: center;
  color: #e6dbdb;

  &-widget {
    h3 {
      margin-bottom: 30px;
      color: rgb(12, 11, 12);

    }
  }

  .contact-link {
    display: inline-block;
    width: 100%;
    color: #d6cece;
  }

  &-social {
    ul {
      padding-left: 0;

      li {
        list-style: none;
        display: inline;
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        a {
          font-size: 20px;
          color: #333;
          text-decoration: none;

          &:hover {
            color: #bfb9b9;
          }
        }
      }
    }
  }

  .media-body {
    a {
      color: #eadddd;
      text-decoration: none;

      &:hover {
        color: #ff00c3;
      }
    }

    span {
      color: #a0a0a0;
    }
  }

  .images-gallery {
    ul {
      padding-left: 0;

      li {
        list-style: none;
        float: left;
        margin: 0 3% 2% 0;
        width: 31%;
        position: relative;

        &:nth-child(3n) {
          margin: 0 0 1%;
        }
      }
    }
  }
}
