.navbar {
  background: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

.logo {
  max-width: 80px;
}

ul {

  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-between;

  li {
    margin: 0 1rem;

    a {
      text-decoration: none;
      color: #000000;
      transition: all 0.3s ease;

      &:hover {
        color: #ccc;
      }
    }
  }

  @media (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .logo {

      margin-bottom: 10px;
        max-width: 50px;

    }

    li {
      a {
        font-size: 1rem;
      }
    }
  }
}
