.navbar {
  background-color: #edbef4;
  font-family: 'Poppins', sans-serif;

.logo{
    border: 1px solid #d803f9;
}

.center-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signedIn{
  font-size: 12px;
}

}
