@import 'navbar';
@import 'footer';
@import 'banner';
@import 'results';
@import 'events';
@import 'home';
@import 'howitworks';


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

$primary-color: #ffff;

:root {
  font-family: 'Poppins', sans-serif;
  background-color: $primary-color;
}
//   --color-primary:
//   --color-secondary:
//   --color-tertiary:
//   --color-primary-darker:
//   --color-secondary-darker:
//   --color-tertiary-darker:
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  min-height: 100vh;
}
