@import 'navbar';
@import 'footer';
@import 'banner';
@import 'results';
@import 'events';
@import 'eventdetails';
@import 'myevents';
@import 'howitworks';
@import 'home';
@import 'howitworks';
@import 'loader';



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

$primary-color: #ffff;

:root {
  font-family: 'Poppins', sans-serif;
  background-color: $primary-color;
}
//   --color-primary:
//   --color-secondary:
//   --color-tertiary:
//   --color-primary-darker:
//   --color-secondary-darker:
//   --color-tertiary-darker:
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  min-height: 100vh;
}

.gradient-text {
  background: linear-gradient(45deg, #5F82FC, #F95FFC);
  background-clip: text;
  -webkit-background-clip: text; /* For older versions of webkit browsers */
  color: transparent;
  font-weight: bold;
}

.pale-purple-btn {
  text-decoration: none;
  padding: 10px;
  color:#9176fe;
  border: 1px solid;
  border-color: #7F5FFC;
  background-color: #eae5ff;
  border-radius: 20px;
  transition: ease-in-out all .5s;

  &:hover {
    background-color: #8c6fff;
    color: #ffffff;
  }

  &.active {
    background-color: #8c6fff;
    color: #ffffff;
  }
}

.purple-grad-btn {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  padding: 10px 15px !important;
  color:#ffffff;
  border: 1px solid;
  border-color: #8027c9;
  background-color: #8027c9;
  border-radius: 20px;
  transition: ease-in-out all .5s;

  &:hover {
    background-color: #8c6fff;
    color:#ffffff;
  }

  &.active {
    background-color: #8c6fff;
    color: #ffffff;
  }
}

.softwhite-bg {
  background-color: #ffffff83;
  border-radius: 10px;
  padding: 10px 15px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}
